.callout {
    max-width: 100%;           
    margin: 20px ;              
    border: 2px solid #c142c1;              
    padding: 10px;             
    background-color: purple;    
    color: #eee;               
}

.callout img {
    float: right;               
    margin: auto;              
    border: 1px solid;              
    padding: auto;                            
}

blockquote {
    margin: 50px;              
}

cite {
    display: block;             
    border-top: 3px ;          
    padding-top: 10px;        
    text-align: right;          
    font-size: 0.65em ;          
}
